.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #F6EDCE;
  color: rgb(136, 110, 110);
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2%;
  align-items: center;
  height: 20vh;
}

.played-cards {
  margin: auto 10% 0 10%;
  height: 20vh;
  background-color: #D1AB83;
  border-radius: 1rem;
}

.container-hand {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: visible;
  align-items: flex-end;
}

.container-played-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  // override some aspects from bootstrap
  border-radius : 0.5rem
}

.card-playable {
  cursor: pointer;
  margin: 0 1vh; 
  height: 100%;
  filter: drop-shadow(0 0 5px var(--jet));
}

.card-played {
  margin: 0 1vh;
  height: 100%;
  filter: drop-shadow(0 0 5px var(--jet));
}

.card-played-playable {
  cursor: pointer;
  margin: 0 1vh;
  height: 100%;
  filter: drop-shadow(0 0 5px var(--jet));
}

.card-image-hand {
  height: 100%;
}

.card-image-played {
  height: 100%;
  padding: 5%;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;

  .button {
    display: block;
    margin: 8px 0;
  }
}
