.menu-selector {
  background-color: grey;
  border-radius: 1rem;
  padding: 1rem;
  width: 900px;
  margin: auto;
}

.menu-tabs {
  padding: 1rem;
  background-color: lightgrey;
  border-radius: 1rem;
}

.submit-menu {
  margin: auto;
}

.menu-items {
  padding: 0.5rem;
  background-color: lightgrey;
  border-radius: 1rem;
  height: 100%;
}

.tab-content {
  height: 100%;
}

.tab-content .active {
  display: flex;
}

.tab-pane {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menu-item {
  float: left;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

img {
  height: 150px;
}
