.menu-wrapper {
  background-color: var(--camel);
  border-radius: 1rem;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.menu-header {
  margin: auto;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--paper);
}

.menu-subheader {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.menu-left-pane {
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: var(--paper);
  border-radius: 1rem;
}

.nav-link.course-tab { color: var(--jet); }
#v-pills-rolls-tab.active { background-color: var(--rolls) }
#v-pills-rolls-tab:hover { color: var(--rolls) }
#v-pills-appetizers-tab.active { background-color: var(--apps); }
#v-pills-appetizers-tab:hover { color: var(--apps) }
#v-pills-specials-tab.active { background-color: var(--specs); }
#v-pills-specials-tab:hover { color: var(--specs) }
#v-pills-desserts-tab.active { background-color: var(--dess); }
#v-pills-desserts-tab:hover { color: var(--dess) }
.nav-link.course-tab.active,
.nav-link.course-tab.active:hover { color: white !important;}

.menu-right-pane {
  padding: 0.5rem 0rem 1rem 0rem;
  background-color: var(--paper);
  border-radius: 1rem;
}

.menu-center-pane {
  background-color: var(--paper);
  border-radius: 1rem;
  height: 100%;
}

.submit-menu {
  margin: auto;
}

.default-menu-btn {
  font-size: 0.9rem;
  box-shadow: none !important;
  border: none;
}
.default-menu-btn.odd { background-color: var(--tan); }
.default-menu-btn.even { background-color: var(--camel); }
.default-menu-btn:hover,
.default-menu-btn:active { background-color: var(--bronze) !important; }

.player-count .btn {
  background-color: var(--camel);
  border-color: var(--camel);
  box-shadow: none !important;
  border: none;
}
.player-count .btn:hover,
.player-count .btn:active { background-color: var(--tan) !important; }
.player-count .btn.active { background-color: var(--bronze)!important; }

.course-tab {
  background-color: var(--paper);
}

.tab-content {
  height: 100%;
  transition: max-height 0.7s linear;
  max-height: 700px;
}

.tab-content .active {
  display: flex;
  max-height: 1000px;
}

.tab-pane {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menu-items {
  align-items: flex-start;
}

.menu-item {
  box-sizing: content-box;
  border: 4px solid lightgray;
  margin: 0.5rem;
  border-radius: 18px;
}

.game-card {
  height: 150px;
  width: 125px;

  .img {
    height: 100%;
  }
}

.disable-card {
  z-index: 1;
  position: relative;
  
  .img {
    opacity: 0.5;
  }
}

.game-card .hovertext {
  display: none;
}

.disable-card .hovertext {
  display: inline-block;
  opacity: 1;
  font-size: small;
  
  /* Positioning for the hovertext */
  bottom: 105%;
  left: -5%;
}

.disable-card .hovertext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.disable-card:hover .hovertext {
  visibility: visible;
}

.disable-card:hover:disabled .hovertext {
  visibility: hidden;
}

.select-roll {
  border: 4px solid var(--rolls);
  border-radius: 18px;
}

.select-appetizer {
  border: 4px solid var(--apps);
  border-radius: 18px;
}

.select-special {
  border: 4px solid var(--specs);
  border-radius: 18px;
}

.select-dessert {
  border: 4px solid var(--dess);
  border-radius: 18px;
}