.modal-dialog {
  position: absolute;
  left: 0;
  width: 20vh;
  height: 90%;
}

.modal-content {
  height: 100%;
  width: 100%;
  background-color: #D1AB83;
  border-color: white;
  color: white;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left-width: 0px;
}

.modal {
  &.fade {
    left:-20vh;
  }

  &.show {
    left:0;
  }
}

// Remove default modal animation
.modal.fade .modal-dialog {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
}

.menu-drawer-modal {
  transition: left 0.15s linear;
}

.menu-drawer-button {
  transition: left 0s linear;
  position: absolute;
  transform: rotate(-90deg);
  left: -40px;
  bottom: 50%;
  background-color: #D1AB83;
  border-color: #D1AB83;
  box-shadow: none;

  &.show {
    transition: left 0.15s linear;
    left: calc(20vh - 40px);
    z-index: 1041;
  }
}

.menu-drawer-body {
  margin-top: 15%;
}

.menu-card {
  height: auto;
  width: 70%;
  margin: -15%;
  filter: drop-shadow(0 0 5px #333);
}