.container-player-data {
  display: flex;
  flex-direction: column;
  border: double;
  margin: 12px;
  height: 20vh;
  z-index: 0;
}

.other-player-cards {
  margin-top: 2%;
  justify-content: center;
}
