.container-player-data {
  display: block;
  border: double;
  margin: 12px;
  min-height: 20vh;
  z-index: 0;
  border-width: thick;

  &.finished {
    border-color: green;
  }
}

$circle-height: 40px;
.points-circle {
  position: absolute;
  top: -5px;
  left: -5px;
  height: $circle-height;
  width: $circle-height;
  border-radius: 50%;
  background-color: #d1ab83;
  color: white;
  font-size: $circle-height / 2;
  line-height: normal;
}

.points-text {
  font-size: 18px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 10vh;
  flex-grow: 1;
}

.card-image-other-players {
  height: 100%;
  padding: 4px;
}

.toggle-row {
  margin: 4px;
  display: flex;
  justify-content: flex-end;
}

.player-name {
  font-size: 18px;
}

.other-player-card {
  margin: 0 1vh; 
  height: 50%;
  filter: drop-shadow(0 0 5px var(--jet));
}
