.container-player-data {
  display: block;
  border: double;
  margin: 12px;
  min-height: 20vh;
  z-index: 0;
}

.card-image-other-players {
  height: 75px;
  padding: 4px;
}

.badge {
  position: absolute;
  top:-5px;
  left:-5px;
  border-radius: 50%;
}

.other-player-cards {
  margin-top: 2%;
  justify-content: center;
}
