.body-special-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-special {
  height: 125px;
  padding: 0 4px;
}

.card-playable-special {
  cursor: pointer;
  margin: 12px;
}

.card-selected {
  filter: drop-shadow(0 0 5px var(--jet));
  transition: filter 0.15s linear;
}
