.App {
  text-align: center;
}

.App-logo {
  background-color: black;
  width: 100%;
  padding: 10vh 0 10vh 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.player-count {
  display: block;
}

.transition {
  width:100%;
  height: 10vh;
  background: linear-gradient(black, #282c34);
}

.App-route-container {
  padding-top: 10vh;
  width: 225px;
  display: flex;
  justify-content: space-between;
}
