:root {
  --paper: #f6edce;
  --light-paper: #fffff2;
  --dark-paper: #fcfcf0;
  --camel: #C3925E;
  --tan: #D1AB83;
  --light-tan: #D8B896;
  --bronze: #b9743b;
  --rolls:  #a03077;
  --apps: #0d807a;
  --specs: #f3821e;
  --dess: #d42e93;
  --light-tan-rgb: 216, 184, 150;
  --jet: #333;
  --maki: #d5262f;
  --temaki: #7a1e5c;
  --uramaki: #e6e636;
  --dumpling: #6996ce;
  --edamame: #8f3379;
  --eel: #443294;
  --onigiri: #d42e93;
  --misosoup: #5c9995;
  --sashimi: #c8d92b;
  --tempura: #c098c6;
  --tofu: #6aa141;
  --chopsticks: #a1d6cd;
  --spoon: #4e5151;
  --menu: #dd4f4a;
  --takeoutbox: #cba178;
  --soysauce: #f49759;
  --tea: #90181c;
  --wasabi: #b09d37;
  --specialorder: #f58420;
  --pudding: #f8b2b5;
  --greenteaicecream: #3f9eb0;
  --fruit: #ef7f74;
  --nigiri: #fec839;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
